/obj
/bin
bin/Debug/net8.0/QuesoPrinter.deps.json
bin/Debug/net8.0/QuesoPrinter.dll
bin/Debug/net8.0/QuesoPrinter.exe
bin/Debug/net8.0/QuesoPrinter.pdb
bin/Debug/net8.0/QuesoPrinter.runtimeconfig.json
ExportToExcel.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/QuesoPrinter.AssemblyInfo.cs
obj/Debug/net8.0/QuesoPrinter.AssemblyInfoInputs.cache
obj/Debug/net8.0/QuesoPrinter.assets.cache
obj/Debug/net8.0/QuesoPrinter.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/QuesoPrinter.csproj.FileListAbsolute.txt
obj/Debug/net8.0/QuesoPrinter.dll
obj/Debug/net8.0/QuesoPrinter.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/QuesoPrinter.genruntimeconfig.cache
obj/Debug/net8.0/QuesoPrinter.GlobalUsings.g.cs
obj/Debug/net8.0/QuesoPrinter.pdb
obj/Debug/net8.0/ref/QuesoPrinter.dll
obj/Debug/net8.0/refint/QuesoPrinter.dll
obj/project.assets.json
obj/project.nuget.cache
obj/QuesoPrinter.csproj.nuget.dgspec.json
obj/QuesoPrinter.csproj.nuget.g.props
obj/QuesoPrinter.csproj.nuget.g.targets
signals.xlsx
